html{
  font-size: 10px;
  font-family: "EB Garamond", serif;
}
body{
  font-size: 1.6rem;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background: midnightblue;
  color: azure;
}

header{
  grid-column: span 12;
  text-align: center;
}
h1{
  border-radius: 0 0 50% 50%;
  corner-shape: scoop;
  border-bottom: 3px solid slateblue;
}
main{
  grid-column-start: 3;
  grid-column-end: 10;
}

/* responsive code goes here vvv */
