html{
  font-size: 10px;
  font-family: "EB Garamond", serif;
}
body{
  font-size: 1.6rem;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background: midnightblue;
  color: azure;
}

header{
  grid-column: span 12;
  text-align: center;
  position: sticky;
}
h1{
  border-radius: 0 0 50% 50%;
  corner-shape: scoop;
  border-bottom: 10px solid slateblue;
  padding-bottom: 1em;
}
main{
  grid-column-start: 3;
  grid-column-end: 10;
}

td{
  min-width: 10vw;
  padding-bottom: 2em;
  border-left: 1px dashed azure;
}
.entry *{
  font-weight: bold;
  padding-bottom: 0 !important;

/* responsive code goes here vvv */
