html{
  font-size: 10px;
  font-family: "EB Garamond", serif;
}
body{
  font-size: 1.6rem;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background: midnightblue;
  color: azure;
}

header{
  grid-column: span 12;
  text-align: center;
  border-radius: 0, 50%, 50%, 0;
  corner-shape: scoop;
}
main{
  grid-column-start: 3;
  grid-column-end: 10;
}

/* responsive code goes here vvv */
